<h1>Passes</h1>

<div class="row">
  <div class="col-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sort_link(@query, :user_last_name, 'User') %></th>
          <th><%= sort_link(@query, :start_date) %></th>
          <th><%= sort_link(@query, :end_date) %></th>
          <th><%= sort_link(@query, :type) %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @passes.each do |pass| %>
        <tr>
          <td><%= pass.user.short_name %></td>
          <td><%= pass.start_date %></td>
          <td><%= pass.end_date %></td>
          <td><%= pass.type %></td>
          <td><%= link_to 'Show', pass %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @passes %>

  </div>
  <div class="col">
    <% if policy(@passes).new? %>
      <%= link_to 'New Pass', new_pass_path, class: 'btn btn-primary btn-lg btn-block mb-2' %>
    <% end %>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Filters</h5>
        <%= search_form_for @query do |f| %>
        <%= f.input :user_id_eq, label: 'User', as: :select, collection: @users, required: false, input_html: { class: 'choices' } %>
        <%= f.input :start_date_eq, label: 'Start date', as: :date, html5: true, required: false %>
        <%= f.input :active, as: :boolean %>
        <%= f.button :submit, 'Filter', class: 'btn-secondary' %>
        <%= link_to 'Clear filters', passes_path, class: 'btn btn-outline-secondary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
