<h1>Pass <%= @pass.id %></h1>

<dl>
  <dt>User</dt>
  <dd><%= @pass.user %></dd>

  <dt>Author</dt>
  <dd><%= @pass.author %></dd>

  <dt>Start date</dt>
  <dd><%= @pass.start_date %></dd>

  <dt>End date</dt>
  <dd><%= @pass.end_date %></dd>

  <dt>Created at</dt>
  <dd><%= @pass.add_date %></dd>

  <dt>Type</dt>
  <dd><%= @pass.type %></dd>

  <dt>Reason</dt>
  <dd><%= @pass.reason %></dd>
</dl>
