<div class="roster--slim">
  <ul>
    <% units.each do |parent, children| %>
      <li>
        <details open>
          <summary>
            <strong><%= link_to parent.name, parent %></strong>
            <small class="text-muted">
              (<%= unit_total_size(parent, units, @assignments) %>)
            </small>
          </summary>
          <% if @assignments[parent.id] %>
            <ul>
              <% @assignments[parent.id].each do |assignment| %>
                <li>
                  <%= image_tag assignment.user.rank.image(:icon).url,
                                alt: assignment.user.rank.abbr,
                                class: "is16x16" unless assignment.user.rank.image(:icon).nil? %>
                  <%= link_to assignment.user.short_name, assignment.user %>,
                  <%= assignment.position.name %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if children.any? %>
              <%= render partial: 'roster/slim_tree', locals: { units: children } %>
          <% end %>
        </details>
      </li>
    <% end %>
  </ul>
</div>
