<div class="roster--slim">
  <ul>
    <% units.each do |parent, children| %>
      <li>
        <details open>
          <summary>
            <strong><%= parent.name %></strong>
            <small class="text-muted">
              (<%= @assignments[parent.id]&.length %>)
            </small>
          </summary>
          <% if @assignments[parent.id] %>
            <ul>
              <% @assignments[parent.id].each do |assignment| %>
                <li>
                  <%= image_tag assignment.user.rank.image(:icon).url,
                                alt: assignment.user.rank.abbr,
                                class: "is16x16" unless assignment.user.rank.image(:icon).nil? %>
                  <%= link_to assignment.user.short_name, "https://personnel.29th.org/#members/#{assignment.user.id}" %>,
                  <%= assignment.position.name %>
                  <% if @show_discourse_status %>
                    <% if assignment.user.discourse_forum_member_id.present? %>
                      ✅
                    <% else %>
                      ⛔️
                    <% end %>
                  <% end %>
                </li>
              <% end %>
            </ul>
          <% end %>

          <% if children.any? %>
              <%= render partial: 'roster/slim_tree', locals: { units: children } %>
          <% end %>
        </details>
      </li>
    <% end %>
  </ul>
</div>
