<%= form_with(model: user, local: true, builder: BootstrapFormBuilder) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="form-group">
    <%= form.label :rank_id %>
    <%= form.collection_select :rank_id, Rank.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="form-group">
    <%= form.label :steam_id, 'Steam ID' %>
    <%= form.text_field :steam_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
