<% content_for(:page_title) { "#{@user.short_name} - Attendance" } %>

<h2>Attendance</h2>

<dl class="user-attendance-stats">
  <dt>Last 30 days:</dt>
  <dd><%= @attendance_stats.last_30_days.round %>%</dd>

  <dt>Last 60 days:</dt>
  <dd><%= @attendance_stats.last_60_days.round %>%</dd>

  <dt>Last 90 days:</dt>
  <dd><%= @attendance_stats.last_90_days.round %>%</dd>

  <dt>Total:</dt>
  <dd><%= @attendance_stats.total.round %>%</dd>
</dl>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
      <th scope="col">Mandatory</th>
      <th scope="col">Attendance</th>
    </tr>
  </thead>
  <tbody>
  <% @attendance_records.each do |attendance_record| %>
    <% event = attendance_record.event %>
    <tr>
      <td><%= timestamp_tag event.starts_at %></td>
      <td><%= link_to event.title, event %></td>
      <td><%= event.mandatory %></td>
      <td>
        <% if !attendance_record.attended %>
          <% if attendance_record.excused %>
            <% if policy(ExtendedLOA).index? &&
              attendance_record.excused_by_extended_loa? %>
              <span class="badge badge-secondary">Extended LOA</span>
            <% else %>
              <span class="badge badge-secondary">Excused</span>
            <% end %>
          <% else %>
            <% if event.mandatory %>
              <span class="badge badge-danger">AWOL</span>
            <% else %>
              <span class="badge badge-secondary">AWOL</span>
            <% end %>
          <% end %>
        <% else %>
          <span class="badge badge-success">Attended</span>
        <% end %>
  <% end %>
  </tbody>
</table>

<%= paginate @attendance_records %>
