<% content_for(:page_title) { "#{@user.short_name} - Qualifications" } %>

<h2>Qualifications</h2>

<div class="user-qualifications">
  <ul>
    <% @ait_standards.each_value do |game| %>
      <li>
        <details>
          <summary>
            <strong><%= AITStandard.games[game.name] || "General" %></strong>
            <small class="text-muted">(<%= game.count %>)</small>
          </summary>
          <ul>
            <% game.weapons.each_value do |weapon| %>
              <li>
                <details open>
                  <summary>
                    <strong><%= AITStandard.weapons[weapon.name] %></strong>
                    <small class="text-muted">(<%= weapon.count %>)</small>
                  </summary>
                  <ul>
                    <% weapon.badges.each_value do |badge| %>
                      <li>
                        <details open>
                          <summary>
                            <strong><%= AITStandard.badges[badge.name] %></strong>
                            <small class="text-muted">(<%= badge.count %>)</small>
                          </summary>
                          <ul>
                            <% badge.standards.each do |standard| %>
                              <li>
                                <% qualification = @ait_qualifications[standard.id] %>

                                <% if qualification.present? %>
                                  <%= link_to_if @can_destroy_qualifications,
                                    icon("fa-solid", "square-check"),
                                    admin_user_ait_qualification_path(@user, qualification) %>

                                  <%= standard.description %>

                                  <small class="text-muted">
                                    <%= qualification.date %>
                                    <% if qualification.author %>
                                      by <%= link_to qualification.author.short_name, qualification.author %>
                                    <% end %>
                                  </small>
                                <% else %>
                                  <%= link_to_if @can_create_qualifications,
                                    icon("fa-solid", "square"),
                                    new_admin_user_ait_qualification_path(@user, {
                                      ait_qualification: {standard_id: standard.id}
                                    }) %>

                                  <%= standard.description %>
                                <% end %>
                              </li>
                            <% end %>
                          </ul>
                        </details>
                      </li>
                    <% end %>
                  </ul>
                </details>
              </li>
            <% end %>
          </ul>
        </details>
      </li>
    <% end %>
  </ul>
</div>
