<h1>
  <%= @user.full_name %>
</h1>

<ul>
  <% @user.assignments.current.each do |assignment| %>
    <li>
      <%= assignment.position.name %>,
      <%= assignment.unit.name %>
    </li>
  <% end %>
</ul>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @user.rank.name %>
</p>

<p>
  <strong>Steam ID:</strong>
  <%= @user.steam_id %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
