<nav class="navbar navbar-expand-lg navbar-dark bg-green-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <%= image_tag '29th-navbar-logo.png', alt: '29th Infantry Division Logo' %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Users', users_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Units', units_path, :class => 'nav-link' %>
        </li>
      </ul>

      <ul class="navbar-nav">
        <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.short_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'Profile', current_user, :class => 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to 'Sign out', destroy_user_session_path, :class => 'dropdown-item' %>
          </div>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_url, :class => 'nav-link' %>
        <% end %>
      </ul>

    </div>
  </div>
</nav>
