<header class="<%= 'transparent' if local_assigns[:transparent?] %>">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-sm">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'logo.png', alt: '29th Infantry Division Logo' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <%= active_link_to 'Home', root_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :exclusive %>
          <%= active_link_to 'About', about_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :inclusive %>
          <%= active_link_to 'Roster', personnel_v2_app_url, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: false %>
          <%= active_link_to 'Forum', discourse_url, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: false %>
          <%= active_link_to 'Servers', servers_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :inclusive %>
          <%= active_link_to 'Enlist', enlist_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :inclusive %>
        </ul>

        <ul class="navbar-nav" id="user-dropdown">
          <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.short_name %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Admin', admin_root_path, :class => 'dropdown-item' %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Sign out', destroy_user_session_path, :class => 'dropdown-item' %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to 'Sign in', sign_in_path(:discourse, flash[:sign_in_origin]),
                  method: :post, class: 'nav-link' %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>

