<header class="<%= 'transparent' if local_assigns[:transparent?] %>">
  <nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-sm">
      <a class="navbar-brand" href="<%= root_path %>">
        <%= image_tag 'logo.png', alt: '29th Infantry Division Logo' %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <%= active_link_to 'Home', root_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :exclusive %>
          <%= active_link_to 'About', about_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :inclusive %>
          <%= active_link_to 'Roster', roster_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: /roster|users/ %>
          <%= active_link_to 'Forum', discourse_url, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: false %>
          <%= active_link_to 'Servers', servers_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :inclusive %>
          <%= active_link_to 'Enlist', enlist_path, wrap_tag: 'li', wrap_class: 'nav-item',
            class: 'nav-link', active: :inclusive %>
        </ul>

        <ul class="navbar-nav" id="user-dropdown">
          <% if current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Calendar', events_path, class: 'dropdown-item' if policy(Event).index? %>
              <%= link_to 'Weapon passes', passes_path, class: 'dropdown-item' if policy(Pass).index? %>
              <% if current_user.active_admin_editor? %>
                <%= link_to 'Ban logs', manage_ban_logs_path, class: 'dropdown-item' if policy(BanLog).index? %>
                <%= link_to 'Enlistments', manage_enlistments_path, class: 'dropdown-item' if policy(Enlistment).index? %>
                <%= link_to 'Training platoons', manage_training_platoons_path, class: 'dropdown-item' if policy(Unit).index? %>
                <%= link_to 'Extended LOAs', manage_extended_loas_path, class: 'dropdown-item' if policy(ExtendedLOA).index? %>
                <%= link_to 'Finances', manage_finance_records_path, class: 'dropdown-item' if policy(FinanceRecord).index? %>
                <%= link_to 'Notes', manage_notes_path, class: 'dropdown-item' if policy(Note).index? %>
                <%= link_to 'Member search', manage_users_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to 'Manage', manage_root_path, class: 'dropdown-item' %>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Sign out', destroy_user_session_path, class: 'dropdown-item' %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <%= button_to 'Sign in', sign_in_path(:discourse, flash[:sign_in_origin]),
                  method: :post, class: 'btn btn-link nav-link', data: { turbo: false } %>
          </li>
            <% if Rails.env.development? %>
            <li class="nav-item">
              <%= button_to 'Sign in (dev)', sign_in_path(:developer, flash[:sign_in_origin]),
                    method: :post, class: 'btn btn-link nav-link', data: { turbo: false } %>
            </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
