<% content_for(:page_title) { "Events" } %>

<article>
  <h1>Events</h1>
  
  <div class="clearfix">
    <div class="view-options btn-group btn-group-sm float-md-right" role="group" aria-label="View options">
      <%= active_link_to 'Week', events_path(view_by: "week"), class: 'btn btn-outline-primary', active: @view_by != "month" %>
      <%= active_link_to 'Month', events_path(view_by: "month"), class: 'btn btn-outline-primary', active: { view_by: "month" } %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= calendar_wrapper(events: @events, view_by: @view_by) do |date, events| %>
        <%= date.day %>

        <% events.each do |event| %>
          <%= tag.div class: {event: true, expected: current_user&.assigned_to_subtree?(event.unit)} do %>
            <%= event.datetime.to_s(:time) %>
            <%= link_to event.unit.subtree_abbr, event %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</article>
