<% content_for(:page_title) { @event.title } %>

<article class="event">
  <h1><%= @event.title %></h1>
  
  <div class="row">
    <div class="col-4">
      <dl>
        <dt>Start time</dt>
        <dd>
          <%= timestamp_tag @event.starts_at %>
        </dd>

        <dt>Unit</dt>
        <dd><%= @event.unit.name %></dd>

        <dt>Type</dt>
        <dd><%= @event.type %></dd>
        
        <dt>Server</dt>
        <dd><%= @event.server&.name %></dd>

        <dt>Expectation</dt>
        <dd class="expectation">
          <% if current_user.assigned_to_subtree?(@event.unit) %>
            You <strong>are</strong> expected at this event,
            <% if @event.mandatory %>
              and it is <strong>mandatory</strong>.
            <% else %>
              but it is not mandatory.
            <% end %>
          <% else %>
            You are not expected at this event,
            <% if @event.mandatory %>
              but it is mandatory for those who are.
            <% else %>
              and it is not mandatory for those who are.
            <% end %>
          <% end %>
        </dd>
      </dl>

      <% if policy(@event).loa? %>
        <% if @event.posted_loa?(current_user) %>
          <%= button_to 'Cancel LOA', loa_event_path(@event), method: :put,
            title: 'Cancel Leave of Absence', class: 'loa btn btn-secondary mb-3' %>
        <% else %>
          <%= button_to 'Post LOA', loa_event_path(@event), method: :put,
            title: 'Post Leave of Absence', class: 'loa btn btn-secondary mb-3' %>
        <% end %>
      <% end %>
      
      <% if @attendance_records.any? %>
        <h4>Attendance</h4>
        <ul class="attendance">
          <% @attendance_records.each do |attendance_record| %>
            <li>
              <%= link_to attendance_record.user %>
              <% case attendance_record.status
                when :attended %>
              <% when :extended_loa %><span class="badge badge-secondary">Extended LOA</span>
              <% when :excused %><span class="badge badge-secondary">Excused</span>
              <% when :awol %><span class="badge badge-danger">AWOL</span>
              <% when :absent %><span class="badge badge-warning">Absent</span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end%>
    </div>
    <div class="col-8 aar">
      <div class="card bg-dark">
        <div class="card-body">
          <h5 class="card-title">After Action Report</h5>
          <% if @event.reporter.present? %>
            <h6 class="card-subtitle mb-2 text-muted">
              Reported by <%= @event.reporter.short_name %>
              on <%= format_timestamp(@event.report_posting_date) %>
              <% if @event.report_posting_date != @event.report_edit_date %>
                (updated <%= format_timestamp(@event.report_edit_date) %>)
              <% end %>
            </h6>
          <% end %>

          <% if @event.report.present? %>
            <%= safe_bbcode(@event.report).html_safe %>
          <% end %>

          <% if policy(@event).aar? %>
            <%= link_to 'Edit AAR', aar_event_path(@event), class: 'btn btn-secondary' %>
          <% end %>
        </div>
      </div>
    </div>
  </dl>
</article>
