<% content_for(:page_title) { @event.title } %>

<article class="event">
  <h1><%= @event.title %></h1>
  
  <div class="row">
    <div class="col-4">
      <dl>
        <dt>Datetime</dt>
        <dd><%= @event.datetime.strftime("%F %H:%M") %></dd>

        <dt>Unit</dt>
        <dd><%= @event.unit.name %></dd>

        <dt>Type</dt>
        <dd><%= @event.type %></dd>
        
        <dt>Server</dt>
        <dd><%= @event.server.name %></dd>

        <dt>Expectation</dt>
        <dd class="expectation">
          <% if current_user.assigned_to_subtree?(@event.unit) %>
            You <strong>are</strong> expected at this event,
            <% if @event.mandatory %>
              and it is <strong>mandatory</strong>.
            <% else %>
              but it is not mandatory.
            <% end %>
          <% else %>
            You are not expected at this event,
            <% if @event.mandatory %>
              but it is mandatory for those who are.
            <% else %>
              and it is not mandatory for those who are.
            <% end %>
          <% end %>
        </dd>
      </dl>
      
      <% if @event.attendance_records.any? %>
        <h4>Attendance</h4>
        <ul class="attendance">
          <% @event.attendance_records.each do |attendance_record| %>
            <li>
              <%= link_to attendance_record.user %>
              <% if !attendance_record.attended %>
                <% if attendance_record.excused %>
                  <span class="badge badge-secondary">Excused</span>
                <% else %>
                  <span class="badge badge-danger">AWOL</span>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end%>
    </div>
    <div class="col-8 aar">
      <% if @event.report.present? %>
        <div class="card bg-dark">
          <div class="card-body">
            <h5 class="card-title">After Action Report</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Reported by <%= @event.reporter.short_name %>
              on <%= @event.report_posting_date.strftime("%F %H:%M") %>
              <% if @event.report_posting_date != @event.report_edit_date %>
                (updated <%= @event.report_edit_date.strftime("%F %H:%M") %>)
              <% end %>
            </h6>
            <%= safe_bbcode(@event.report).html_safe %>
          </div>
        </div>
      <% end %>
    </div>
  </dl>

  <%= link_to 'Back', events_path, class: 'btn btn-outline-secondary' %>
</article>
