<%= form_with(model: unit, local: true, builder: BootstrapFormBuilder) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="form-group">
    <%= form.label :abbr %>
    <%= form.text_field :abbr %>
  </div>

  <div class="form-group">
    <%= form.label :path %>
    <%= form.text_field :path %>
  </div>

  <div class="form-group">
    <%= form.label :order %>
    <%= form.text_field :order %>
  </div>

  <div class="form-group">
    <%= form.label :game %>
    <%= form.text_field :game %>
  </div>

  <div class="form-group">
    <%= form.label :timezone %>
    <%= form.text_field :timezone %>
  </div>

  <div class="form-group">
    <%= form.label :active %>
    <%= form.check_box :active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
