<% content_for(:page_title) { "#{@unit.subtree_abbr} - Attendance" } %>

<h2>Attendance</h2>

<dl class="user-attendance-stats">
  <dt>Last 30 days:</dt>
  <dd><%= @attendance_stats.last_30_days.round %>%</dd>

  <dt>Last 60 days:</dt>
  <dd><%= @attendance_stats.last_60_days.round %>%</dd>

  <dt>Last 90 days:</dt>
  <dd><%= @attendance_stats.last_90_days.round %>%</dd>

  <dt>Total:</dt>
  <dd><%= @attendance_stats.total.round %>%</dd>
</dl>

<table class="table table-striped unit-attendance">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Event</th>
      <th scope="col">Mandatory</th>
      <th class="unit-attendance__attendance-col" scope="col">Attendance</th>
      <th class="unit-attendance__absent-col" scope="col">Absent</th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
    <tr>
      <td><%= timestamp_tag event.starts_at %></td>
      <td><%= link_to event.title, event %></td>
      <td><%= event.mandatory %></td>
      <td class="unit-attendance__attendance-col">
        <% if event.attendance_totals.present? %>
          <%= event.attendance_totals.total_attended || 0 %>
          /
          <%= event.attendance_totals.total_expected %>
        <% else %>
          <span class="badge badge-secondary">Missing AAR</span>
        <% end %>
      </td>
      <td class="unit-attendance__absent-col">
        <% if event.attendance_totals.present? && event.attendance_totals.total_absent > 0 %>
          <span class="<%= event.mandatory ? "awol" : "absent" %>">
            <%= event.attendance_totals.total_absent %>
          </span>
        <% end %>
      </td>
  <% end %>
  </tbody>
</table>

<%= paginate @events %>
