<% content_for(:page_title) { "#{@unit.subtree_abbr} - Missing Awards" } %>

<h2>Missing Awards</h2>

<% if @users_with_missing_awards.any? %>
  <ul>
    <% @users_with_missing_awards.each do |user, data| %>
      <li>
        <%= link_to user %>

        <small class="text-muted">
          <%= format_service_duration(data[:service_duration]) %> of service
        </small>
        <ul>
          <% data[:missing_awards] => {aocc:, ww1v:, cab1:, cab2:, cab3:, cab4:} %>
          <% if aocc > 0 %>
            <li>
              Missing <%= aocc %>
              <em>Army of Occupation</em>
              <%= "medal".pluralize(aocc) %>
            </li>
          <% end %>
          <% if ww1v > 0 %>
            <li>
              Missing <%= ww1v %>
              <em>World War I Victory</em>
              <%= "medal".pluralize(ww1v) %>
            </li>
          <% end %>
          <% if cab1 > 0 %>
            <li>
              Missing <em>Combat Action Badge, 1st Award</em>
            </li>
          <% end %>
          <% if cab2 > 0 %>
            <li>
              Missing <em>Combat Action Badge, 2nd Award</em>
            </li>
          <% end %>
          <% if cab3 > 0 %>
            <li>
              Missing <em>Combat Action Badge, 3rd Award</em>
            </li>
          <% end %>
          <% if cab4 > 0 %>
            <li>
              Missing <em>Combat Action Badge, 4th Award</em>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No missing awards found for this unit.</p>
<% end %>
