<% content_for(:page_title) { "#{@unit.subtree_abbr} - Stats" } %>

<h2>Unit Statistics</h2>

<% @units.each do |unit| %>
  <% users = @users_by_unit[unit.id] %>
  <% next unless users.present? %>

  <table class="table table-striped unit-stats">
    <caption><h3><%= link_to unit.abbr, unit %></h3></caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col" class="text-center unit-stats__attendance-col"
          title="Attendance of mandatory events over the past 30 days"
          data-toggle="tooltip" data-controller="tooltip">30</th>
        <th scope="col" class="text-center unit-stats__attendance-col"
          title="Attendance of mandatory events over the past 60 days"
          data-toggle="tooltip" data-controller="tooltip">60</th>
        <th scope="col" class="text-center unit-stats__attendance-col"
          title="Attendance of mandatory events over the past 90 days"
          data-toggle="tooltip" data-controller="tooltip">90</th>
        <th scope="col" class="text-center unit-stats__attendance-col"
          title="Attendance of all mandatory events"
          data-toggle="tooltip" data-controller="tooltip">All</th>

        <th scope="col" class="text-center unit-stats__basic-progress-col"
          title="Expert Infantry Badge progress"
          data-toggle="tooltip" data-controller="tooltip">EIB</th>
        <th scope="col" class="text-center unit-stats__basic-progress-col"
          title="Squad Leadership Training progress"
          data-toggle="tooltip" data-controller="tooltip">SLT</th>
        
        <% if @unit.game.present? %>
          <th scope="col" class="text-center unit-stats__weapon-progress-col">Rifle</th>
          <th scope="col" class="text-center unit-stats__weapon-progress-col"
            title="Combat Engineer"
            data-toggle="tooltip" data-controller="tooltip">CE</th>
          <th scope="col" class="text-center unit-stats__weapon-progress-col">Armor</th>
          <th scope="col" class="text-center unit-stats__weapon-progress-col"
            title="Automatic Rifle"
            data-toggle="tooltip" data-controller="tooltip">AR</th>
          <th scope="col" class="text-center unit-stats__weapon-progress-col">Sniper</th>
          <th scope="col" class="text-center unit-stats__weapon-progress-col">Grenadier</th>
          <th scope="col" class="text-center unit-stats__weapon-progress-col"
            title="Sub-Machine Gun"
            data-toggle="tooltip" data-controller="tooltip">SMG</th>
          <th scope="col" class="text-center unit-stats__weapon-progress-col">Pilot</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr>
          <td>
            <div>
              <%= image_tag user.rank.image(:icon).url,
                            alt: user.rank.abbr,
                            class: "is16x16" unless user.rank.image(:icon).nil? %>
              <%= link_to user.short_name, user %>
            </div>
            <% position = user.assignments.find { |a| a.unit_id == unit.id }&.position %>
            <% if position %>
              <div><small class="text-muted"><%= position.name %></small></div>
            <% end %>
          </td>
          
          <% stats = @attendance_stats_by_user_id[user.id] %>
          <% if stats.present? %>
            <td class="unit-stats__attendance-col">
              <span class="<%= attendance_badge_class(stats.last_30_days) %>">
                <%= stats.last_30_days.round %>%
              </span>
            </td>
            <td class="unit-stats__attendance-col">
              <span class="<%= attendance_badge_class(stats.last_60_days) %>">
                <%= stats.last_60_days.round %>%
              </span>
            </td>
            <td class="unit-stats__attendance-col">
              <span class="<%= attendance_badge_class(stats.last_90_days) %>">
                <%= stats.last_90_days.round %>%
              </span>
            </td>
            <td class="unit-stats__attendance-col">
              <span class="<%= attendance_badge_class(stats.total) %>">
                <%= stats.total.round %>%
              </span>
            </td>
          <% else %>
            <td colspan="4" class="text-center"></td>
          <% end %>

          <!-- Standard progress -->
          <% user_progress_calculations = @standard_progress_by_user[user.id] %>

          <!-- EIB -->
          <td class="unit-stats__basic-progress-col">
            <%= render_progress(:eib, user_progress_calculations[:eib]) %>
          </td>
          
          <!-- SLT -->
          <td class="unit-stats__basic-progress-col">
            <%= render_progress(:slt, user_progress_calculations[:slt]) %>
          </td>
          
          <% if @unit.game.present? %>
            <!-- Rifle -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:rifle, user_progress_calculations[:rifle]) %>
            </td>

            <!-- Combat Engineer -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:combat_engineer, user_progress_calculations[:combat_engineer]) %>
            </td>

            <!-- Armor -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:armor, user_progress_calculations[:armor]) %>
            </td>

            <!-- Automatic Rifle -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:automatic_rifle, user_progress_calculations[:automatic_rifle]) %>
            </td>

            <!-- Sniper -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:sniper, user_progress_calculations[:sniper]) %>
            </td>

            <!-- Grenadier -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:grenadier, user_progress_calculations[:grenadier]) %>
            </td>

            <!-- Submachine Gun -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:submachine_gun, user_progress_calculations[:submachine_gun]) %>
            </td>
            
            <!-- Pilot -->
            <td class="unit-stats__weapon-progress-col">
              <%= render_progress(:pilot, user_progress_calculations[:pilot]) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
