<!DOCTYPE html>
<html>
  <head>
    <title>29th Infantry Division - A realism unit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Oswald|Roboto+Condensed|Staatliches' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <%= render 'shared/navbar', transparent?: current_page?(action: 'landing') %>
    <%= render 'home/carousel' if current_page?(action: 'landing') %>
    <div class="container">
      <% if notice %>
        <p class="alert alert-info"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
    <%= render 'home/games' if current_page?(action: 'landing') %>
    <%= render 'home/latest_videos' if current_page?(action: 'landing') %>
    <%= render 'shared/footer' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
