<% content_for :content do %>
  <div class="row">
    <article class="col-md-9 order-md-2">
      <div class="media user-profile-header">
        <%= image_tag @user.rank.image_url,
                      alt: @user.rank.abbr,
                      title: @user.rank.name,
                      class: "is60x60 mr-3" unless @user.rank.image.nil? %>
        <div class="media-body">
          <h1 class="user-profile-header__title">
            <%= @user.rank.name %> <%= @user.full_name %>
          </h1>

          <% if @user.status == :retired %>
            <span class="badge badge-warning">Retired</span>
          <% elsif @user.status == :discharged %>
            <span class="badge badge-danger">Discharged</span>
          <% end %>

          <ul class="user-profile-header__assignments">
            <% @active_assignments.each do |assignment| %>
              <li>
                <%= assignment.position.name %>,
                <%= link_to assignment.unit.name, assignment.unit %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>

      <%= yield %>

    </article>

    <div class="col-md-3 order-md-1">
      <nav class="nav flex-column nav-pills">
        <% links = {}
        links['Profile'] = user_path(@user)
        links['Service record'] = user_service_record_path(@user) if policy(@user).service_record?
        links['Attendance'] = user_attendance_path(@user) if policy(@user).attendance?
        links['Qualifications'] = user_qualifications_path(@user) if policy(@user).qualifications?
        links['Recruits'] = user_recruits_path(@user) if policy(@user).recruits?
        links['Reprimands'] = user_reprimands_path(@user) if policy(@user).reprimands?
        links['Extended LOAs'] = user_extended_loas_path(@user) if policy(@user).extended_loas?
        links['Notes'] = manage_user_notes_path(@user) if policy(Note).index? && current_user.active_admin_editor?
        links['Weapon Passes'] = passes_path(q: {user_id_eq: @user.id}) if policy(Pass).index?
        %>
        <% links.each do |label, path| %>
          <%= active_link_to label, path, class: 'nav-link', active: :exclusive %>
        <% end %>
      </nav>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
